h1 {
    color: aqua;
    font-size: 50px;
    text-align: center
}

p {
    color: lightseagreen;
    margin-left: 30px;
    color:white
}

.text-title {
    font-size: 30px;
    color: white;
    text-align: left;
    margin-left: 30px
}

body {
    background-image: url(../background%202.jpg);
}